<%- include('partials/header'); -%>

    <div class="container dark-box-concave">
        <p class="text-glow">
            The <span>mathbirthdays.com </span>site is very simple.
            All you need to do is select
            Your Birthday month, day and year and then clik on calculate.
        </p>
    </div>
    <!-- date form -->
    <form action="/calculate" method="post" class="form-box">
        <div class="container">
            <input class="input-date" type="date" id="userBDate" name="userBDate">
        </div>
        <div class="container">
            <button type="submit" name="button" class="">Calculate</button>
        </div>
        </div>
        </div>
        </div>
        </div>
    </form>

    <%- include('partials/footer'); -%>