/* Variable to setup the glow color */
:root {
  --glow-color: #f4c559;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(10,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%235E9FF2'/%3E%3Cstop offset='1' stop-color='%23F4C559'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='24' height='24' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23ffffff' cx='12' cy='12' r='12'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.11'/%3E%3C/svg%3E");
  background-attachment: fixed;
  
  text-align: center;
}

h1 {
  font-weight: unset;
  color: #f4c559;
  --glow-color: #994ce6;
}

h3 {
  color: #212121;
  font-weight: 800;
  font-size: 15px;
}

.title {
  font-weight: 800;
  color: #5e9ff2;
  text-align: center;
  text-shadow: 1px 1px #181818;
}

div > p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  text-shadow: 1px 1px #000000;
}

.form-box {
  width: 30%;
  border-radius: 4px;
  width: 20rem;
  margin: 1% auto;
  padding: 2rem;
}

/* Date input box */
.input-date {
  display: inline-block;
  clear: right;
  width: 8rem;
  padding: 0.4rem;
  background-color: #212121;
  border: none;
  border-radius: 0.5em;
  box-shadow: 6px 6px 12px #121212, -6px -6px 12px #303030;
  color: #E00BC0;
  font-size: 12px;
  width: 100%;
  margin: 10% auto 20%;
}

.input-date:hover {
  --glow-color: #E00BC0;
  color: #fff;
  text-shadow: 1px 1px #121212;
  border: none;
  background: var(--glow-color);
  -webkit-animation: var(--glow-color) 2s infinite;
  -moz-animation: glow 2s infinite;
  -o-animation: glow 2s infinite;
  animation: glow 2s infinite;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* Dark container box  */
.dark-box-plane {
  background: #212121;
  border: 0px solid #212121;
  border-radius: 1rem;
  box-shadow: 7px 7px 14px #0d0d0d, -7px -7px 14px #353535;
  margin: 3% auto 3%;
  padding: 1%;
  width: 50%;
}

.dark-box-plane:after {
  content: "";
  display: block;
  padding-bottom: 1%;
}


/* Dark transparent concaave container box  */

.dark-box-concave {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(53,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%235E9FF2'/%3E%3Cstop offset='1' stop-color='%23F4C559'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='24' height='24' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23ffffff' cx='12' cy='12' r='12'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.11'/%3E%3C/svg%3E");
  background-attachment: fixed;
  border-radius: 1rem;
  box-shadow: inset 7px 7px 14px #303030, inset -7px -7px 14px #121212;
  margin: 1% auto;
  padding: 2%;
  width: 35%;
}

.dark-box-concave:after {
  content: "";
  display: block;
  padding-bottom: 2%;
}

@media (max-width:576px) {

  .dark-box-plane{
    width: 90%;
    margin: 10% auto;
  }

  .dark-box-concave{
    width: 90%;
    margin: 10% auto;
  }

  div > p {
    font-size: 13px;
  }
}

/* Calculate - Neumorph Button  */
button {
  --glow-color: #5e9ff2;
  color: #ffffff;
  text-shadow: 1px 1px #121212;
  border: 0rem solid #5e9ff2 ;
  margin: 1% auto;
  padding: 0.6em 1.3em;
  font-size: 18px;
  background: #5e9ff2;
  -webkit-animation: glow 2s infinite;
  -moz-animation: glow 2s infinite;
  -o-animation: glow 2s infinite;
  animation: glow 2s infinite;
  -webkit-transition: 0.5s;
  transition: 0.5s;
   border-radius: 0.5em;
  /*background: linear-gradient(145deg, #232323, #1e1e1e);
  box-shadow: 6px 6px 12px #121212, -6px -6px 12px #303030;
  transition: 0.2s; */
}

/* Calculate Button - Hover Glow Effect */
button:hover {
  --glow-color: #f4c559;
  text-emphasis: initial;
  color: #121212;
  text-shadow: 1px 1px #121212;
  background: var(--glow-color);
  -webkit-animation: glow 2s infinite;
  -moz-animation: glow 2s infinite;
  -o-animation: glow 2s infinite;
  animation: glow 2s infinite;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* Footer */

.footer > p {
  color: #f4c559;
  font-size: 13px;
}

.footer-icons {
  color: #5e9ff2;
  margin: 2% 3%;
}

.footer-icons:hover{
  --glow-color: #5e9ff2;
  color: var(--glow-color);
  text-shadow: 1px 1px #121212;
  border: none;
  background: #121212;
  -webkit-animation: glow 2s infinite;
  -moz-animation: glow 2s infinite;
  -o-animation: glow 2s infinite;
  animation: glow 2s infinite;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* Glowing box-shadow animation */
.glow {
  -webkit-animation: glow 2s infinite;
  -moz-animation: glow 2s infinite;
  -o-animation: glow 2s infinite;
  animation: glow 2s infinite;
}

/* Glowing Shadow box keyframes */

@keyframes glow {
  0%,
  100% {
    box-shadow: 1px 0px 29px 14px var(--glow-color),
      inset 0px 0px 10px rgba(255, 255, 255, 0.5);
  }

  50% {
    box-shadow: 0px 0px 0px 0px rgba(0, 130, 196, 0),
      inset 0px 0px 0px rgba(255, 255, 255, 0);
  }
}

/* Glowing Text keyframes */

@keyframes text-glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.text-glow {
  text-align: center;
  -webkit-animation: text-glow 1s ease-in-out infinite alternate;
  -moz-animation: text-glow 1s ease-in-out infinite alternate;
  animation: text-glow 1s ease-in-out infinite alternate;
}

.flex-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-content: space-between;
}

.dark-box-concave-res {

  background-color: #330055;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23330055' cx='50' cy='0' r='50'/%3E%3Cg fill='%233a015d' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23410165' cx='50' cy='100' r='50'/%3E%3Cg fill='%2348026e' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23500376' cx='50' cy='200' r='50'/%3E%3Cg fill='%2357047e' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%235f0587' cx='50' cy='300' r='50'/%3E%3Cg fill='%2367068f' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%236f0798' cx='50' cy='400' r='50'/%3E%3Cg fill='%237707a0' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%238008a9' cx='50' cy='500' r='50'/%3E%3Cg fill='%238909b1' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%239109ba' cx='50' cy='600' r='50'/%3E%3Cg fill='%239a09c3' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a309cb' cx='50' cy='700' r='50'/%3E%3Cg fill='%23ad09d4' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b608dc' cx='50' cy='800' r='50'/%3E%3Cg fill='%23c007e5' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c905ee' cx='50' cy='900' r='50'/%3E%3Cg fill='%23d303f6' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23D0F' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain;
  border-radius: 1rem;
  box-shadow: inset 7px 7px 14px #303030, inset -7px -7px 14px #121212;
  margin: 1% ;
  padding: 2%;
  width: 13%;
}

.dark-box-concave-res:after {
  content: "";
  display: block;
  padding-bottom: 2%;
}

p .dark-box-concave-res {
  text-align: center;
  text-shadow: 1px 1px #121212;
}

.date-text{
  font-size: 55px;
  font-weight: 900;
}

.month-text {
  
  font-size: 25px;
  color: #121212;
  text-shadow: #f4c559;
}

.year-text{
  font-weight: 800;
  font-size: 25px;
  color: #ffffff;
}

