/* Variable to setup the glow color */
:root {
  --glow-color: #f4c559;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(264,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%2380F'/%3E%3Cstop offset='1' stop-color='%23f40'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='24' height='24' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23ffffff' cx='12' cy='12' r='12'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.1'/%3E%3C/svg%3E");
  background-attachment: fixed;
  text-align: center;
}

h1 {
  font-weight: unset;
  color: #f4c559;
  --glow-color: #994ce6;
}

.title {
  font-weight: 800;
  color: #5e9ff2;
  text-align: center;
  text-shadow: 1px 1px #181818;
}

div > p {
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  text-shadow: 1px 1px #121212;
}

/* Dark container box  */
.dark-box-plane {
  background: #212121;
  border: 0px solid #212121;
  border-radius: 1rem;
  box-shadow: 7px 7px 14px #0d0d0d, -7px -7px 14px #353535;
  margin: 3% auto 3%;
  padding: 1%;
  width: 50%;
}

.dark-box-plane:after {
  content: "";
  display: block;
  padding-bottom: 1%;
}


/* Dark transparent concaave container box  */

.dark-box-concave {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(59,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%2380F'/%3E%3Cstop offset='1' stop-color='%23f40'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='24' height='24' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23ffffff' cx='12' cy='12' r='12'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.1'/%3E%3C/svg%3E");
  background-attachment: fixed;
  border-radius: 1rem;
  box-shadow: inset 7px 7px 14px #303030, inset -7px -7px 14px #121212;
  margin: 1% auto;
  padding: 2%;
  width: 35%;
}

.dark-box-concave:after {
  content: "";
  display: block;
  padding-bottom: 2%;
}

@media (max-width:576px) {

  .dark-box-plane{
    width: 90%;
    margin: 10% auto;
  }

  .dark-box-concave{
    width: 90%;
    margin: 10% auto;
  }

  div > p {
    font-size: 13px;
  }
}

/* Date input box */
.input-date {
  background-color: #212121;
  border: none;
  border-radius: 0.5em;
  box-shadow: 6px 6px 12px #121212, -6px -6px 12px #303030;
  color: #ffffff;
  font-size: 12px;
  margin: 2% auto;
  padding: 1%;
  width: 15%;
}

.input-date:hover {
  --glow-color: #E00BC0;
  color: #fff;
  text-shadow: 1px 1px #121212;
  border: none;
  background: var(--glow-color);
  -webkit-animation: var(--glow-color) 2s infinite;
  -moz-animation: glow 2s infinite;
  -o-animation: glow 2s infinite;
  animation: glow 2s infinite;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* Calculate - Neumorph Button  */
button {
  --glow-color: #5e9ff2;
  color: #ffffff;
  text-shadow: 1px 1px #121212;
  border: 0rem solid #5e9ff2 ;
  margin: 1% auto;
  padding: 0.6em 1.3em;
  font-size: 18px;
  background: #5e9ff2;
  -webkit-animation: glow 2s infinite;
  -moz-animation: glow 2s infinite;
  -o-animation: glow 2s infinite;
  animation: glow 2s infinite;
  -webkit-transition: 0.5s;
  transition: 0.5s;
   border-radius: 0.5em;
  /*background: linear-gradient(145deg, #232323, #1e1e1e);
  box-shadow: 6px 6px 12px #121212, -6px -6px 12px #303030;
  transition: 0.2s; */
}

/* Calculate Button - Hover Glow Effect */
button:hover {
  --glow-color: #f4c559;
  text-emphasis: initial;
  color: #121212;
  text-shadow: 1px 1px #121212;
  background: var(--glow-color);
  -webkit-animation: glow 2s infinite;
  -moz-animation: glow 2s infinite;
  -o-animation: glow 2s infinite;
  animation: glow 2s infinite;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* Footer */

.footer > p {
  color: #f4c559;
  font-size: 13px;
}

.footer-icons {
  color: #5e9ff2;
  margin: 2% 3%;
}

.footer-icons:hover{
  --glow-color: #5e9ff2;
  color: var(--glow-color);
  text-shadow: 1px 1px #121212;
  border: none;
  background: #121212;
  -webkit-animation: glow 2s infinite;
  -moz-animation: glow 2s infinite;
  -o-animation: glow 2s infinite;
  animation: glow 2s infinite;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* Glowing box-shadow animation */
.glow {
  -webkit-animation: glow 2s infinite;
  -moz-animation: glow 2s infinite;
  -o-animation: glow 2s infinite;
  animation: glow 2s infinite;
}

/* Glowing Shadow keyframes */

@-moz-keyframes glow {
  0%,
  100% {
    -moz-box-shadow: 1px 0px 19px 4px var(--glow-color),
      inset 0px 0px 10px rgba(255, 255, 255, 0.5);
    box-shadow: 1px 0px 19px 4px var(--glow-color),
      inset 0px 0px 10px rgba(255, 255, 255, 0.5);
  }

  50% {
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 130, 196, 0),
      inset 0px 0px 0px rgba(255, 255, 255, 0);
    box-shadow: 0px 0px 0px 0px rgba(0, 130, 196, 0),
      inset 0px 0px 0px rgba(255, 255, 255, 0);
  }
}

@-webkit-keyframes glow {
  0%,
  100% {
    -webkit-box-shadow: 1px 0px 29px 14px var(--glow-color),
      inset 0px 0px 10px rgba(255, 255, 255, 0.5);
    box-shadow: 1px 0px 29px 14px var(--glow-color),
      inset 0px 0px 10px rgba(255, 255, 255, 0.5);
  }

  50% {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 130, 196, 0),
      inset 0px 0px 0px rgba(255, 255, 255, 0);
    box-shadow: 0px 0px 0px 0px rgba(0, 130, 196, 0),
      inset 0px 0px 0px rgba(255, 255, 255, 0);
  }
}

@-o-keyframes glow {
  0%,
  100% {
    box-shadow: 1px 0px 29px 14px var(--glow-color),
      inset 0px 0px 10px rgba(255, 255, 255, 0.5);
  }

  50% {
    box-shadow: 0px 0px 0px 0px rgba(0, 130, 196, 0),
      inset 0px 0px 0px rgba(255, 255, 255, 0);
  }
}

@keyframes glow {
  0%,
  100% {
    box-shadow: 1px 0px 29px 14px var(--glow-color),
      inset 0px 0px 10px rgba(255, 255, 255, 0.5);
  }

  50% {
    box-shadow: 0px 0px 0px 0px rgba(0, 130, 196, 0),
      inset 0px 0px 0px rgba(255, 255, 255, 0);
  }
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: space-between;
}

.dark-box-concave-res {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(59,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%2380F'/%3E%3Cstop offset='1' stop-color='%23f40'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='24' height='24' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23ffffff' cx='12' cy='12' r='12'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.1'/%3E%3C/svg%3E");
  background-attachment: fixed;
  border-radius: 1rem;
  box-shadow: inset 7px 7px 14px #303030, inset -7px -7px 14px #121212;
  margin: 1% ;
  padding: 2%;
  width: 12%;
}

.dark-box-concave-res:after {
  content: "";
  display: block;
  padding-bottom: 2%;
}

.dark-box-concave-res > p {
  color: #f4c559;
  font-size: 35px;
  font-weight: 800;
  text-align: center;
  text-shadow: 1px 1px #121212;
}
